[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Claddis"]
	path = Claddis
	url = https://github.com/graemetlloyd/claddis
[submodule "strap"]
	path = strap
	url = https://github.com/graemetlloyd/strap
